{% extends 'layout.twig' %}

{% block main_container %}
  <div class="alert {{ messageType|default('alert-danger') }}">
    <h2>Error {{ status|default(500) }}</h2>
    <p>{{ message }}</p>
  </div>
{% endblock %}
